body{
    /* background-color: #1E1E1E; */
    font-family: sans-serif;
}
#bgImagewelcomePage{
    height: 656.5px;
    width: 100%
}
#vapLogo{
    position: absolute;
    top: -5px;
    left: -75%;
    font-size: 18px;
}
.top-leftwelcomePage {
    position: absolute;
    top: 18px;
    left: 16%;
    font-size: 24px;
    color: white;
    font-family: sans-serif
  }
  .top-rightwelcomePage{
    position: absolute;
    top: 18px;
    left: 84%;
    font-size: 24px;
  }
  #arrowIconwelcomePage{
      color:white;
      border-radius: 50%;
      border: 1px solid #F89E12;
      padding: 2px;
  }
.centeredwelcomePage1 {
    position: absolute;
    top: 30%;
    font-size: 24px;
    color:white;
    left:50%;
    font-family: "Myriad pro Semibold"
}
.centeredwelcomePage2 {
    position: absolute;
    color:white;
    top: 27%;
    font-size: 100.23px;
    left: 33%;
    font-weight:lighter; 
}
.centeredwelcomePage3 {
    position: absolute;
    top: 44%;
    font-size: 55.14px;
    left: 34%;
    font-weight: bold;
    color:white;
}
.centeredwelcomePage4 {
    position: absolute;
    top: 55%;
    font-size: 20.05px;
    left: 40%;
    font-weight: lighter;
    text-align: center;
    color:white;
}
.centeredwelcomePage5 {
    position: absolute;
    top: 61%;
    padding:2px;
    font-size: 20.05px;
    left: 45%;
    font-weight: lighter;
    border: 1px solid grey;
    border-radius: 5px;
    width: 115px;
    height: 35px;
    text-align: center;
    padding-bottom: 5px;
    color:white;
}
#weightwelcomePage{
    font-weight: lighter;
}
#rightArrowwelcomePage{
    font-size: small;
    border-radius: 50%;
    background-color: #F89E12;
    border: 1px solid #F89E12;
    padding: 2px;
}
.vapwelcomePage{
    color: white;
    font-size: 16px;
    margin-top:-70px;
    text-align: center;
}


